RewriteEngine On

# users and sessions
RewriteRule ^users/register/?$ users/register.php
RewriteRule ^users/login/?$ users/login.php
RewriteRule ^users/logout/?$ users/logout.php

# products
RewriteRule ^products/create/?$ products/create.php

# blocked paths
RewriteRule ^dbconn.php$ 404.php
RewriteRule ^functions.php$ 404.php
RewriteRule ^.htaccess.php$ 404.php